* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace, serif, Helvetica, sans-serif;
    background-image: url("https://www.deanza.edu/japanese/images/japan.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.navigation {
    position: auto;
    top:0;
    left:0;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: white;
}

.nav>li{
    display: block;
    color: #C7276D;
}

.nav>li>a{
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    color: darkred;
}

h1 {
    padding: 100px;
    color: darkred;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

main{
    height: auto;
    /* flex-grow: 1; */
}

p{
    padding:10px;
    color: #000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
    text-align: center;
}

/* this is for profile picture */
.image {
    padding: 10px;
    height: 200px; 
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p1{
    position: relative;
    padding: 100px;
}

#footer{
    text-align: center;
    background-color: white;
    color: #000;
    background-color: #FFF;
    position: relative;
    height: 100px;
    margin-top: -10px;
    clear: both;
    padding: 20px;
    width: 100%;
}

p2{
    position: absolute;
    text-align: center;
    padding: 1px;
    width: auto;

}
